.logo{
  height: 64px;
  position: relative;
  line-height: 64px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}

.layout-sider{
  position: fixed;
  height: 100vh;
  left: 0;
  overflow: auto;
  background: rgb(0, 21, 41);
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background: #000b15!important;
}

.link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.67);
}